<div class="recipe">
  @if(recipe$)
  {
    <div>
      <h1>{{recipe$.meals[0].strMeal}}</h1>
      <p>Category : {{recipe$.meals[0].strCategory}}</p>
      <p>Area : {{recipe$.meals[0].strArea}}</p>
      <img ngSrc="{{recipe$.meals[0].strMealThumb}}" width="400" height="400" priority />
    </div>
    {{recipe$.meals[0].strYoutube}}
    @if(recipe$.meals[0].strYoutube)
    {
      <iframe #youtube width="800" height="600" target="_parent"
              [src]="createEmbedLink(recipe$.meals[0].strYoutube) | safeurl"
              frameborder="0" allowfullscreen=""
      >
      </iframe>
    }
    <p class="recipe__instructions">{{recipe$.meals[0].strInstructions}}</p>
  }
</div>
